<h2> animal details</h2>
<p>
<strong><%= @animal.name %></strong> is a <%= @animal.species %> and is <%= @animal.age %> years old.
</p>
<p>
  <%= link_to "Edit", edit_animal_path(@animal) %>
</p>
<p>
   <%= link_to "Delete", delete_animal_path(@animal.id), method: :delete %>
</p>
